


<div class="container mx-auto px-4">
  <div class="flex items-center justify-between flex-wrap mb-6">
    <h1 class="text-3xl font-bold text-blue-500">Customers</h1>

    <%= link_to new_customer_path, class: button_class(theme: "primary") do %>
    Add New Customer
    <% end %>
  </div>

 <table class="table-auto border-collapse border-grey w-full">
  <thead class="bg-gray-200 dark:bg-gray-500">
      <tr>
        
          <th class="border-2 border-gray-500 dark:border-gray-700 font-semibold p-4 text-black text-left">Name</th>
        
                  <th class="border-2 border-gray-500 dark:border-gray-700 font-semibold p-4 text-black text-left">Gender</th>
                  <th class="border-2 border-gray-500 dark:border-gray-700 font-semibold p-4 text-black text-left">Email</th>
                  <th class="border-2 border-gray-500 dark:border-gray-700 font-semibold p-4 text-black text-left">Phone number</th>
                  <th class="border-2 border-gray-500 dark:border-gray-700 font-semibold p-4 text-black text-left">Address</th>
                
      </tr>
    </thead>

    <tbody>
      <% @customers.each do |customer| %>
      <%= content_tag :tr, id: dom_id(customer), class: dom_class(customer) do %>
      
        <td class="border-2 border-gray-500 dark:border-gray-700 p-4 text-black dark:text-black"><%= link_to customer.name, customer %></td>
      

              <td class="border-2 border-gray-500 dark:border-gray-700 p-4 text-black dark:text-black"><%= customer.gender %></td>
              <td class="border-2 border-gray-500 dark:border-gray-700 p-4 text-black dark:text-black"><%= customer.email %></td>
              <td class="border-2 border-gray-500 dark:border-gray-700 p-4 text-black dark:text-black"><%= customer.phone_number %></td>
              <td class="border-2 border-gray-500 dark:border-gray-700 p-4 text-black dark:text-black"><%= customer.address %></td>
      
      
      <% end %>
      <% end %>
    </tbody>
  </table>
</div>
</div>
