


<div class="container mx-auto px-4">
  <div class="flex items-center justify-between flex-wrap mb-6">
    <h1 class="text-3xl font-bold text-blue-500">Order items</h1>

    <%= link_to new_order_item_path, class: button_class(theme: "primary") do %>
    Add New Order item
    <% end %>
  </div>

   <table class="table-auto border-collapse border-grey w-full">
  <thead class="bg-gray-200 dark:bg-gray-500">
      <tr>
        
                  <th class="border-2 border-gray-500 dark:border-gray-700 font-semibold p-4 text-black text-left">Order date</th>
                  <th class="border-2 border-gray-500 dark:border-gray-700 font-semibold p-4 text-black text-left">Product name</th>
                  <th class="border-2 border-gray-500 dark:border-gray-700 font-semibold p-4 text-black text-left">Quantity</th>
                  <th class="border-2 border-gray-500 dark:border-gray-700 font-semibold p-4 text-black text-left">Unit price</th>
                
          <th class="border-2 border-gray-500 dark:border-gray-700 font-semibold p-4 text-black text-left"></th>
        
      </tr>
    </thead>

    <tbody>
      <% @order_items.each do |order_item| %>
      <%= content_tag :tr, id: dom_id(order_item), class: dom_class(order_item) do %>
      

              <td class="border-2 border-gray-500 dark:border-gray-700 p-4 text-black dark:text-black"><%= order_item.order.order_date %></td>
              <td class="border-2 border-gray-500 dark:border-gray-700 p-4 text-black dark:text-black"><%= order_item.product.product_name %></td>
              <td class="border-2 border-gray-500 dark:border-gray-700 p-4 text-black dark:text-black"><%= order_item.quantity %></td>
              <td class="border-2 border-gray-500 dark:border-gray-700 p-4 text-black dark:text-black"><%= order_item.unit_price %></td>
      
      
        <td class="border-2 border-gray-500 dark:border-gray-700 p-4 text-black dark:text-black"><%= link_to 'Show', order_item %></td>
      
      <% end %>
      <% end %>
    </tbody>
  </table>
</div>
</div>
