


<div class="container mx-auto px-4">
  <div class="flex items-center justify-between flex-wrap mb-6">
    <h1 class="text-3xl font-bold text-blue-500">Brands</h1>

    <%= link_to new_brand_path, class: button_class(theme: "primary") do %>
    Add New Brand
    <% end %>
  </div>

  <table class="table-auto border-collapse border-grey w-full">
  <thead class="bg-gray-200 dark:bg-gray-500">
      <tr>
        
                  <th class="border-2 border-gray-500 dark:border-gray-700 font-semibold p-4 text-black text-left">Brand name</th>
                  <th class="border-2 border-gray-500 dark:border-gray-700 font-semibold p-4 text-black text-left">Country</th>
                
          <th class="border-2 border-gray-500 dark:border-gray-700 font-semibold p-4 text-black text-left"></th>
        
      </tr>
    </thead>

    <tbody>
      <% @brands.each do |brand| %>
      <%= content_tag :tr, id: dom_id(brand), class: dom_class(brand) do %>
      

              <td class="border-2 border-gray-500 dark:border-gray-700 p-4 text-black dark:text-black"><%= brand.brand_name %></td>
              <td class="border-2 border-gray-500 dark:border-gray-700 p-4 text-black dark:text-black"><%= brand.country %></td>
      
      
        <td class="border-2 border-gray-500 dark:border-gray-700 p-4 text-black dark:text-black"><%= link_to 'Show', brand %></td>
      
      <% end %>
      <% end %>
    </tbody>
  </table>
</div>
</div>
