


<div class="container mx-auto px-4">
  <div class="flex items-center justify-between flex-wrap mb-6">
    <h1 class="text-3xl font-bold text-blue-500">Products</h1>

    <%= link_to new_product_path, class: button_class(theme: "primary") do %>
    Add New Product
    <% end %>
  </div>

   <table class="table-auto border-collapse border-black w-full">
  <thead class="bg-red-600 bg-red-600">
      <tr>
        
          
                  <th class="border-2 border-black dark:border-black font-semibold p-4 text-gray-400 text-left">Name</th>
                  <th class="border-2 border-black dark:border-black font-semibold p-4 text-gray-400 text-left">Category</th>
                  <th class="border-2 border-black dark:border-black font-semibold p-4 text-gray-400 text-left">Brand</th>
                  <th class="border-2 border-black dark:border-black font-semibold p-4 text-gray-400 text-left">Short description</th>
                  <th class="border-2 border-black dark:border-black font-semibold p-4 text-gray-400 text-left">Size</th>
                  <th class="border-2 border-black dark:border-black font-semibold p-4 text-gray-400 text-left">Price</th>
                  <th class="border-2 border-black dark:border-black font-semibold p-4 text-gray-400 text-left">Quantity</th>
                  <th class="border-2 border-black dark:border-black font-semibold p-4 text-gray-400 text-left "></th>
                
      </tr>
    </thead>

    <tbody>
      <% @products.each do |product| %>
      <%= content_tag :tr, id: dom_id(product), class: dom_class(product) do %>
      
        <td class="border-2 border-black dark:border-black p-4 text-black dark:text-black"><%= link_to product.product_name, product %></td>
      

              <td class="border-2 border-black dark:border-black p-4 text-black text-left"><%= product.category.name %></td>
              <td class="border-2 border-black dark:border-black p-4 text-black text-left"><%= product.brand.brand_name %></td>
              <td class="border-2 border-black dark:border-black p-4 text-black text-left"><%= product.short_description %></td>
              <td class="border-2 border-black dark:border-black p-4 text-black text-left"><%= product.size %></td>
              <td class="border-2 border-black dark:border-black p-4 text-black text-left"><%= product.price %></td>
              <td class="border-2 border-black dark:border-black p-4 text-black text-left"><%= product.quantity %></td>
       <td class="border-2 border-black dark:border-black p-4 text-black text-left"><%= link_to 'Show', product %></td>
      
      <% end %>
      <% end %>
    </tbody>
  </table>
</div>
</div>
